.modal {
  display: none;
  position: fixed;
  z-index: $Z-Index-Modals;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: $Light-BG;
  margin: 150px auto;
  max-width: 760px;
  max-height: 500px;
  padding: 30px;
  border-radius: $Border-Radius;
}

.modal-close-x {
  float: right;
  cursor: pointer;
}

.modal-header {
  margin: auto;
  margin-top: 70px;
}

.modal-body {
  margin: auto;
  margin-top: 30px;
}

.modal-footer {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
}

#get-started-modal .modal-header {
  max-width: 487px;
  h3 {
    text-align: center;
    color: $Secondary-Dark;
  }
}

#get-started-modal .modal-body {
  max-width: 520px;
  p {
    text-align: center;
    color: $Secondary-Light;
  }
}

#get-started-modal .modal-footer {
  max-width: 320px;
}

#get-started-modal form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#get-started-modal form input {
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  border: 2px solid $Primary-Light;
  border-radius: $Border-Radius;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
}
#get-started-modal form input::placeholder {
  color: $Disabled;
}
#get-started-modal form input:focus {
  outline: none;
  border: 2px solid $Primary-Dark;
}
#get-started-modal form button {
  padding: 16px 22px;
}

#coming-soon-modal .modal-content {
  max-height: 400px;
}

#coming-soon-modal .modal-header {
  max-width: 200px;
  h3 {
    text-align: center;
    color: $Secondary-Dark;
  }
}

#coming-soon-modal .modal-body {
  max-width: 450px;
  p {
    text-align: center;
    color: $Secondary-Light;
  }
}

#coming-soon-modal .modal-footer {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    text-align: center;
    color: $Secondary-Light;
  }
  button {
    padding: 16px 22px;
  }
}

#quiz-modal .modal-content {
  max-height: 800px;
}

#quiz-modal .modal-header {
  h3 {
    text-align: center;
    color: $Secondary-Dark;
  }
  p {
    text-align: center;
    color: $Secondary-Light;
  }
}

#quiz-modal .modal-body {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  .quiz-question {
    // <p>
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 166%;
    // </p>
    color: $Secondary-Dark;
  }
  .quiz-answer {
    background-color: $Dropdown;
    max-width: 500px;
    margin: 8px 0;
    padding: 8px;
    border-radius: $Border-Radius;
    display: flex;
    input {
      height: 20px;
      width: 20px;
      margin-right: 8px;
    }
    label {
      margin-top: -2px;
      color: $Secondary-Light;
      font-size: 16px;
      font-weight: 400;
    }
    input[type="radio"]:checked {
      margin-right: 16px;
    }
  }
}

#quiz-modal .modal-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  #quiz-result {
    // <h4>
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 126%;
    // </h4>
    color: $Primary-Dark;
  }

  #quiz-analysis {
    // <p>
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 166%;
    // </p>
    color: $Secondary-Light;
  }

  #question-number {
    color: $Caption;
  }
}
