.first {
  background-color: $Secondary;
}

.sectionContent {
  max-width: 565px;
  h2 {
    max-width: 370px;
    color: $Primary;
  }
  p {
    margin-top: 30px;
    color: $White;
  }
}

.first .container:first-child {
  margin-bottom: 60px;
}

.row-a .sectionImage {
  width: 466px;
  height: 405px;
  background-image: url("../images/First-Image-A-min.png");
  // Photo by Kaleb Tapp: https://unsplash.com/photos/orange-arrow-signage-J59wWPn09BE
  background-size: cover;
}
.row-b .sectionImage {
  width: 464px;
  height: 398px;
  background-image: url("../images/First-Image-B-min.png");
  // Photo by Vlada Karpovich: https://www.pexels.com/photo/man-relaxing-and-working-on-his-laptop-4939638/
  background-size: cover;
}

.aboutpage {
  .first {
    color: $White;
    border-bottom: 5px solid $Primary-Dark;
  }
}
