/* MD - iPad - Reference Device */
@media only screen and (max-width: 1090px) {
  // main.scss
  .container {
    max-width: 904px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 16px;
  }

  // _header.scss
  nav li {
    margin-right: 30px;
  }

  // _heroSection
  .heroContent {
    margin-top: 60px;
    form {
      margin-top: 40px;
      input {
        width: 250px;
        height: 45px;
      }
      button {
        padding: 11px 22px;
      }
    }
  }

  .heroImageContainer {
    margin-right: -22px;
  }

  .heroImage {
    width: 400px;
    height: 433px;
  }

  // _firstSection
  .sectionContent {
    max-width: 442px;
    h2 {
      max-width: 285px;
    }
    p {
      margin-top: 20px;
    }
  }

  .row-a .sectionImage {
    width: 365px;
    height: 316px;
  }
  .row-b .sectionImage {
    width: 365px;
    height: 313px;
  }

  // _secondSection
  .middle-line {
    width: 20%;
  }

  // _thirdSection

  .thirdSectionImageContainer {
    margin-right: 0;
  }

  .thirdSectionContent {
    margin-right: 10px;
  }

  .thirdSectionImage {
    width: 793px;
    height: 469px;
  }

  .testimonials {
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 850px) {
  // main.scss
  .container {
    max-width: 774px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 15px;
  }

  // _heroSection
  .heroContent {
    margin-top: 50px;
    form {
      button {
        padding: 11px 16px;
      }
    }
  }

  .heroImageContainer {
    margin-right: -18px;
  }

  .heroImage {
    width: 328px;
    height: 355px;
  }

  // _firstSection
  .sectionContent {
    max-width: 377px;
    h2 {
      max-width: 245px;
      font-size: 30px;
    }
  }

  .row-a .sectionImage {
    width: 311px;
    height: 269px;
  }
  .row-b .sectionImage {
    width: 311px;
    height: 266px;
  }

  // _secondSection
  .middle-line {
    width: 15%;
  }

  // _thirdSection

  .thirdSectionImageContainer {
    margin-right: -300px;
  }

  .thirdSectionContent {
    max-width: 300px;
    h2 {
      min-width: 295px;
    }
  }

  .thirdSectionImage {
    width: 727px;
    height: 430px;
  }

  // _footer.scss

  .branding {
    min-width: 50%;
  }

  .company {
    padding-right: 15px;
    min-width: 150px;
  }
  .features {
    padding-right: 15px;
    min-width: 150px;
  }
  .contact {
    padding-right: 15px;
    min-width: 150px;
  }
  .courses {
    padding-right: 15px;
    min-width: 150px;
  }
}

@media only screen and (max-width: 770px) {
  // main.scss
  .container {
    max-width: 684px;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  // _header.scss
  nav li {
    margin-right: 20px;
  }

  // _heroSection
  .heroContent {
    margin-top: 30px;
    text-align: center;
    max-width: 325px;
    p {
      max-width: 293px;
      margin-left: auto;
      margin-right: auto;
    }
    form {
      max-width: 250px;
      flex-direction: column;
      gap: 15px;
      margin-left: auto;
      margin-right: auto;

      input {
        width: auto;
        margin-right: 0;
      }

      button {
        height: 45px;
      }
    }
  }

  // _firstSection
  .sectionContent {
    max-width: 332px;
    h2 {
      max-width: 200px;
      font-size: 25px;
    }
  }

  .row-a .sectionImage {
    width: 273px;
    height: 237px;
  }
  .row-b .sectionImage {
    width: 273px;
    height: 234px;
  }

  // _secondSection
  .middle-line {
    width: 10%;
  }

  // _thirdSection

  .thirdSectionContent {
    h2 {
      min-width: 246px;
    }
  }

  .thirdSectionImageContainer {
    margin-right: -325px;
  }

  .thirdSectionImage {
    width: 669px;
    height: 396px;
  }

  .third-testimonial {
    padding-top: 40px;
  }
  .testimonialCard {
    padding: 15px;
    margin-right: 15px;
  }

  // _footer.scss

  .branding {
    min-width: 45%;
  }
}

/* SM - iPhone - Reference Device */
@media only screen and (max-width: 450px) {
  // main.scss
  .hero {
    overflow: hidden;
  }

  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container {
    max-width: 363px;
  }

  // _header.scss
  header {
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0px;
  }

  .hamburger-menu {
    display: block;
  }

  .brand-logo {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }

  .brand-name {
    display: none;
  }

  .brand-name-mobile {
    display: block;
  }

  nav {
    display: none;
  }

  // _heroSection
  .hero .container {
    flex-direction: column;
  }

  .heroContent {
    margin-top: 0px;
    max-width: 100%;
    h1 {
      font-size: 32px;
    }

    p {
      font-size: 14px;
      margin-top: 10px;
    }

    form {
      margin-top: 30px;
    }
  }

  .heroImageContainer {
    margin-top: 30px;
    margin-left: 20px;
  }

  .heroImage {
    margin-right: -10px;
    width: 400px;
    height: 388px;
    background-image: url("../images/Hero-Image-Long-min.png");
    // Photo by Ivan Samkov: https://www.pexels.com/photo/photo-of-woman-taking-notes-4458554/
  }

  // _firstSection
  .first .container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .first .container:nth-child(2) {
    flex-direction: column-reverse;
  }

  .sectionContent {
    max-width: 100%;
    h2 {
      margin-left: auto;
      margin-right: auto;
    }
    p {
      margin-top: 10px;
    }
  }

  .row-a .sectionImage {
    width: 365px;
    height: 316px;
  }
  .row-b .sectionImage {
    width: 365px;
    height: 313px;
  }

  // _secondSection

  .second {
    h2 {
      margin-bottom: 30px;
    }
  }
  .mobileCards {
    flex-direction: column;
    gap: 20px;
  }

  .mobileCard {
    display: block;
    border: 1px solid $Primary-Light;
    width: 303px;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: $Border-Radius;
    overflow: clip;
  }

  .mobileCardHeader {
    height: 80px;
    width: 100%;
    background-color: $White;
    border-bottom: 1px solid $Primary-Light;
    display: flex;
    align-items: center;
  }

  .courseLogoContainer {
    border-radius: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardContent {
    padding-top: 15px;
  }

  .secondSectionContent {
    margin-top: 30px;
  }

  .card {
    display: none;
  }
  .middle-line {
    display: none;
  }

  // _thirdSection

  .third-mobile {
    flex-direction: column;
    text-align: center;
  }

  .thirdSectionImageContainer {
    margin-top: 30px;
    margin-right: -250px;
  }

  .thirdSectionImage {
    width: 640px;
    height: 379px;
    background-image: url("../images/Quiz-Image-min.png");
    // Photo by JESHOOTS.COM: https://unsplash.com/photos/woman-biting-pencil-while-sitting-on-chair-in-front-of-computer-during-daytime--2vD8lIhdnw
    background-size: cover;
  }
  .third-testimonial {
    padding-top: 30px;
  }

  // _footer.scss

  .footer-container {
    flex-wrap: wrap;
  }

  .branding {
    min-width: 100%;
    margin-bottom: 60px;
  }

  .footer-links {
    gap: 15px;
  }

  // COMPONENTS
  .modal-content {
    max-width: 320px;
    max-height: 400px;
    padding: 20px;
  }
}
