$font-family: Outfit, sans-serif;

$Debug-Border: 1px dashed red;

$Section-Y-Padding: 60px;
$Border-Radius: 8px;

$White: #ffffff;
$Black: #000000;
$Light-BG: #f8feef;
$Primary: #b6ec3d;
$Primary-Light: #c4ef63;
$Primary-Dark: #7fa52a;
$Dropdown: #d3f59b;
$Secondary: #0c1301;
$Secondary-Light: #3c4233;
$Secondary-Dark: #080d00;
$Paragraph: #424242;
$Pastel-Green: #d7f496;
$Caption: #bdbdbd;
$Disabled: #e0e0e0;
