$font-family: Outfit, sans-serif;

$Debug-Border: 1px dashed red;

$Section-Y-Padding: 60px;
$Border-Radius: 8px;

$White: #ffffff;
$Black: #000000;
$Light-BG: #fafef1;
$Primary: #b6ec3d;
$Secondary: #131c1e;
$Paragraph: #424242;
$Pastel-Green: #d7f496;
$Primary-Button-Text: #616161;
$Caption: #bdbdbd;
$Disabled: #f5f5f5;
