@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
header {
  background-color: #0c1301;
  padding-top: 25px;
  padding-bottom: 25px;
}

.brand-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.brand-logo:hover {
  cursor: pointer;
}

.brand-name {
  font-weight: 700;
  font-size: 20px;
  color: #b6ec3d;
}

.brand-name-mobile {
  font-weight: 700;
  font-size: 15px;
  color: #b6ec3d;
  display: none;
}

.threadsText {
  font-weight: 300;
}

.hamburger-menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none;
}

nav ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

nav li {
  margin-right: 50px;
}

nav li:last-child {
  margin-right: 0px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

nav button {
  padding: 8px 16px;
}

.dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: none;
  position: absolute;
  top: 60px;
  background-color: #d3f59b;
  text-align: center;
}

.dropdown a {
  text-decoration: none;
  color: #0c1301;
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}

.dropdown button {
  padding: 8px 16px;
  margin-top: 10px;
}

.hero {
  background-color: #f8feef;
}

.heroContent {
  margin-top: 90px;
  max-width: 591px;
}
.heroContent h1 {
  color: #080d00;
}
.heroContent p {
  margin-top: 30px;
  max-width: 447px;
  color: #3c4233;
}
.heroContent form {
  margin-top: 60px;
  display: flex;
}
.heroContent form input {
  margin-right: 20px;
  width: 320px;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  border: 2px solid #c4ef63;
  border-radius: 8px;
  font-family: Outfit, sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.heroContent form input::placeholder {
  color: #e0e0e0;
}
.heroContent form input:focus {
  outline: none;
  border: 2px solid #7fa52a;
}
.heroContent form button {
  padding: 16px 22px;
}

.perfectCourseText {
  background-color: #b6ec3d;
  padding-left: 5px;
  margin-left: -5px;
  padding-right: 5px;
  margin-right: -5px;
  padding-bottom: 5px;
  margin-bottom: -5px;
}

.heroImageContainer {
  margin-right: -30px;
}

.heroImage {
  width: 535px;
  height: 579px;
  background-image: url("../images/Hero-Image-min.png");
  background-size: cover;
}

.first {
  background-color: #0c1301;
}

.sectionContent {
  max-width: 565px;
}
.sectionContent h2 {
  max-width: 370px;
  color: #b6ec3d;
}
.sectionContent p {
  margin-top: 30px;
  color: #ffffff;
}

.first .container:first-child {
  margin-bottom: 60px;
}

.row-a .sectionImage {
  width: 466px;
  height: 405px;
  background-image: url("../images/First-Image-A-min.png");
  background-size: cover;
}

.row-b .sectionImage {
  width: 464px;
  height: 398px;
  background-image: url("../images/First-Image-B-min.png");
  background-size: cover;
}

.second {
  background-color: #f8feef;
}
.second h2 {
  text-align: center;
  margin-bottom: 60px;
}

.mobileCard {
  display: none;
}

.card {
  width: 169px;
  min-height: 300px;
  border: 1px solid #c4ef63;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courseLogoContainer {
  width: 84px;
  height: 80px;
  border-left: 0px;
  border-top: 0px;
  border-right: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #c4ef63;
  border-radius: 8px 0 8px 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courseLogo {
  width: 50px;
}

.middle-line {
  width: 25%;
  border-color: #c4ef63;
  border-style: dashed;
}

.cardContent h5 {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.cardContent p {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.secondSectionContent {
  margin-top: 60px;
  text-align: center;
}
.secondSectionContent h3 {
  color: #0c1301;
  margin-bottom: 20px;
}
.secondSectionContent p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.secondSectionContent .caption {
  color: #bdbdbd;
  margin-bottom: 30px;
}

.third {
  background-color: #0c1301;
  overflow: clip;
  padding-bottom: 0;
}
.third h3 {
  margin-top: 50px;
  color: #ffffff;
}

.third-testimonial {
  padding-top: 50px;
  background-color: #0c1301;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.third-testimonial::-webkit-scrollbar {
  display: none;
}

.thirdSectionContent {
  max-width: 450px;
  margin-right: 60px;
}
.thirdSectionContent h2 {
  color: #b6ec3d;
  margin-bottom: 20px;
  min-width: 440px;
}
.thirdSectionContent p {
  color: #ffffff;
  margin-bottom: 30px;
  max-width: 310px;
}
.thirdSectionContent button {
  padding: 12px 24px;
}

.thirdSectionImageContainer {
  margin-right: -380px;
}

.thirdSectionImage {
  width: 865px;
  height: 512px;
  background-image: url("../images/Quiz-Image-min.png");
  background-size: cover;
}

.testimonials {
  flex-wrap: wrap;
  gap: 10px;
}

.testimonialCard {
  min-width: 300px;
  max-width: 300px;
  height: auto;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-right: 30px;
}
.testimonialCard p {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.avatarContainer {
  margin-right: 20px;
}

.avatarImage {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-size: cover;
}

.testimonialCard-card-a .avatarImage {
  background-image: url("../images/john.png");
}

.testimonialCard-card-b .avatarImage {
  background-image: url("../images/maria.png");
}

.testimonialCard-card-c .avatarImage {
  background-image: url("../images/rohan.png");
}

footer {
  background-color: #f8feef;
  padding-top: 90px;
  padding-bottom: 60px;
}
footer h6 {
  color: #0c1301;
  margin-bottom: 20px;
}
footer a {
  text-decoration: none;
  color: #3c4233;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 166%;
  margin-bottom: 10px;
  display: block;
}
footer p {
  color: #3c4233;
  font-size: 12px;
}

.branding {
  min-width: 40%;
}

.footer-links {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-links p {
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 166%;
  margin-bottom: 10px;
  display: block;
}

.branding p {
  margin-top: 20px;
  max-width: 225px;
}

.copyright {
  margin-top: 120px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif, sans-serif;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-top-space-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

h1 {
  font-size: 55px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 126%;
}

h2 {
  font-size: 45px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 126%;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 126%;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 126%;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 126%;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 126%;
}

p {
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 166%;
}

button {
  border-width: 2px;
  border-radius: 8px;
  font-family: Outfit, sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-primary {
  border-color: #7fa52a;
  background-color: #b6ec3d;
  color: #3c4233;
}

.btn-secondary {
  border-color: #080d00;
  background-color: #3c4233;
  color: #b6ec3d;
}

/* MD - iPad - Reference Device */
@media only screen and (max-width: 1090px) {
  .container {
    max-width: 904px;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
  nav li {
    margin-right: 30px;
  }
  .heroContent {
    margin-top: 60px;
  }
  .heroContent form {
    margin-top: 40px;
  }
  .heroContent form input {
    width: 250px;
    height: 45px;
  }
  .heroContent form button {
    padding: 11px 22px;
  }
  .heroImageContainer {
    margin-right: -22px;
  }
  .heroImage {
    width: 400px;
    height: 433px;
  }
  .sectionContent {
    max-width: 442px;
  }
  .sectionContent h2 {
    max-width: 285px;
  }
  .sectionContent p {
    margin-top: 20px;
  }
  .row-a .sectionImage {
    width: 365px;
    height: 316px;
  }
  .row-b .sectionImage {
    width: 365px;
    height: 313px;
  }
  .middle-line {
    width: 20%;
  }
  .thirdSectionImageContainer {
    margin-right: 0;
  }
  .thirdSectionContent {
    margin-right: 10px;
  }
  .thirdSectionImage {
    width: 793px;
    height: 469px;
  }
  .testimonials {
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 850px) {
  .container {
    max-width: 774px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 15px;
  }
  .heroContent {
    margin-top: 50px;
  }
  .heroContent form button {
    padding: 11px 16px;
  }
  .heroImageContainer {
    margin-right: -18px;
  }
  .heroImage {
    width: 328px;
    height: 355px;
  }
  .sectionContent {
    max-width: 377px;
  }
  .sectionContent h2 {
    max-width: 245px;
    font-size: 30px;
  }
  .row-a .sectionImage {
    width: 311px;
    height: 269px;
  }
  .row-b .sectionImage {
    width: 311px;
    height: 266px;
  }
  .middle-line {
    width: 15%;
  }
  .thirdSectionImageContainer {
    margin-right: -300px;
  }
  .thirdSectionContent {
    max-width: 300px;
  }
  .thirdSectionContent h2 {
    min-width: 295px;
  }
  .thirdSectionImage {
    width: 727px;
    height: 430px;
  }
  .branding {
    min-width: 50%;
  }
  .company {
    padding-right: 15px;
    min-width: 150px;
  }
  .features {
    padding-right: 15px;
    min-width: 150px;
  }
  .contact {
    padding-right: 15px;
    min-width: 150px;
  }
  .courses {
    padding-right: 15px;
    min-width: 150px;
  }
}
@media only screen and (max-width: 770px) {
  .container {
    max-width: 684px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  nav li {
    margin-right: 20px;
  }
  .heroContent {
    margin-top: 30px;
    text-align: center;
    max-width: 325px;
  }
  .heroContent p {
    max-width: 293px;
    margin-left: auto;
    margin-right: auto;
  }
  .heroContent form {
    max-width: 250px;
    flex-direction: column;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .heroContent form input {
    width: auto;
    margin-right: 0;
  }
  .heroContent form button {
    height: 45px;
  }
  .sectionContent {
    max-width: 332px;
  }
  .sectionContent h2 {
    max-width: 200px;
    font-size: 25px;
  }
  .row-a .sectionImage {
    width: 273px;
    height: 237px;
  }
  .row-b .sectionImage {
    width: 273px;
    height: 234px;
  }
  .middle-line {
    width: 10%;
  }
  .thirdSectionContent h2 {
    min-width: 246px;
  }
  .thirdSectionImageContainer {
    margin-right: -325px;
  }
  .thirdSectionImage {
    width: 669px;
    height: 396px;
  }
  .third-testimonial {
    padding-top: 40px;
  }
  .testimonialCard {
    padding: 15px;
    margin-right: 15px;
  }
  .branding {
    min-width: 45%;
  }
}
/* SM - iPhone - Reference Device */
@media only screen and (max-width: 450px) {
  .hero {
    overflow: hidden;
  }
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container {
    max-width: 363px;
  }
  header {
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0px;
  }
  .hamburger-menu {
    display: block;
  }
  .brand-logo {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }
  .brand-name {
    display: none;
  }
  .brand-name-mobile {
    display: block;
  }
  nav {
    display: none;
  }
  .hero .container {
    flex-direction: column;
  }
  .heroContent {
    margin-top: 0px;
    max-width: 100%;
  }
  .heroContent h1 {
    font-size: 32px;
  }
  .heroContent p {
    font-size: 14px;
    margin-top: 10px;
  }
  .heroContent form {
    margin-top: 30px;
  }
  .heroImageContainer {
    margin-top: 30px;
    margin-left: 20px;
  }
  .heroImage {
    margin-right: -10px;
    width: 400px;
    height: 388px;
    background-image: url("../images/Hero-Image-Long-min.png");
  }
  .first .container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .first .container:nth-child(2) {
    flex-direction: column-reverse;
  }
  .sectionContent {
    max-width: 100%;
  }
  .sectionContent h2 {
    margin-left: auto;
    margin-right: auto;
  }
  .sectionContent p {
    margin-top: 10px;
  }
  .row-a .sectionImage {
    width: 365px;
    height: 316px;
  }
  .row-b .sectionImage {
    width: 365px;
    height: 313px;
  }
  .second h2 {
    margin-bottom: 30px;
  }
  .mobileCards {
    flex-direction: column;
    gap: 20px;
  }
  .mobileCard {
    display: block;
    border: 1px solid #c4ef63;
    width: 303px;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    overflow: clip;
  }
  .mobileCardHeader {
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #c4ef63;
    display: flex;
    align-items: center;
  }
  .courseLogoContainer {
    border-radius: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cardContent {
    padding-top: 15px;
  }
  .secondSectionContent {
    margin-top: 30px;
  }
  .card {
    display: none;
  }
  .middle-line {
    display: none;
  }
  .third-mobile {
    flex-direction: column;
    text-align: center;
  }
  .thirdSectionImageContainer {
    margin-top: 30px;
    margin-right: -250px;
  }
  .thirdSectionImage {
    width: 640px;
    height: 379px;
    background-image: url("../images/Quiz-Image-min.png");
    background-size: cover;
  }
  .third-testimonial {
    padding-top: 30px;
  }
  .footer-container {
    flex-wrap: wrap;
  }
  .branding {
    min-width: 100%;
    margin-bottom: 60px;
  }
  .footer-links {
    gap: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
